<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap" rel="stylesheet">
        <title>cancel</title>
        <style>
            * {
                margin: 0;
                padding: 0;
                box-sizing: border-box;
            }

            body {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding-top: 10%;
            }

            h1, p {
                font-family: 'Montserrat', sans-serif;
                text-align: center;
                color: #444;
            }

            p {
                font-family: 'Montserrat', sans-serif;
                font-weight: 400;
            }
        </style>
    </head>
    <body>
        <lottie-player src="https://assets1.lottiefiles.com/packages/lf20_f1cFsO.json"  background="transparent"  speed="1"  style="width: 200px; height: 200px; margin-bottom: 50px;" autoplay></lottie-player>
        <h1>transação cancelada!</h1>
        <p><br>desculpe, houve algum problema, tente novamente.</p>
        <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
    </body>
</html>