<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap" rel="stylesheet">
        <title>success</title>
        <style>
            * {
                margin: 0;
                padding: 0;
                box-sizing: border-box;
            }

            body {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }

            h1, p {
                font-family: 'Montserrat', sans-serif;
                text-align: center;
                color: #444;
            }

            p {
                font-family: 'Montserrat', sans-serif;
                font-weight: 400;
            }

            .pink {
                color: #FF96A4;
            }
        </style>
    </head>
    <body>        
        <lottie-player src="https://assets10.lottiefiles.com/packages/lf20_nqlp2k.json"  background="transparent"  speed="1"  style="width: 300px; height: 300px;"  loop autoplay></lottie-player>
        <h1>transação concluída</h1>
        <h1 class="pink">com sucesso!</h1>
        <p><br>aproveite suas moedas e libere pedidos</p>
        <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
    </body>
</html>